{% extends 'base/base.html' %}

{% block exp_block %}

    <div class="topmargin">

        {% if invalid %}
            <div>
                <b>Invalid participant details supplied.</b>
            </div>
        {% endif %}

         <p> <h1> News Search System Study </h1></p>

        <p>
        This HIT involves performing four search tasks (plus one practice task) using a search engine serving news articles to find relevant information on given topics. We will also ask you to complete a number of short surveys.
        </p>
        <p>

        The study will take approximately 30-45 minutes of your time.

        </p>

    <p>
    <h2><b>Important Notes</b></h2>
    <ul>
        <li>All the collected data will be treated as confidential and it will not be possible to
            identify you as a person with the data after the experiment as ended.
        </li>
        <li>You should be at least 18 years old.</li>
        <li>This study must be completed in a <b>single sitting</b>.</li>
        <li>You can only participate in this study once.</li>
        <li>In order to conduct this experiment you need to use <b>Safari, Firefox or Chrome, only</b>.
            If you use any other browser, your HIT may not be accepted.</li>

        <li>Your screen resolution should be at least 1024x768 or above, otherwise your HIT will not be accepted.</li>
        <li>The study will appear in a pop-up so you will need to enable/allow the popup in your browser.</li>

    </ul>


<h2><b>Register</b></h2>
        <p>
            Register to undertake this study by entering a username:
        </p>


        <form action="{% url 'register-amt-user' %}" method="post">
            {% csrf_token %}
            <!-- cross-site request forgery protection -->
            <table class="searchtable">
                <tr>
                    <td class="searchlabel">Enter your AMT Worker ID:</td>
                    <td><input class="loginbox" type="text" name="username" value="" id="username" size="50"
                               tabindex="1"/></td>
                    <td><input class="button" type="submit" name="submit" value="Register" tabindex="2"/></td>
                </tr>
            </table>
        </form>

    </div>
{% endblock %}
