{% extends 'base/base.html' %}

{% block exp_info_block %}
    <p> <!-- a href="/treconomics/logout">Logout</a> -->
    </p>
{% endblock %}

{% block exp_block %}


    <div class="experimentPageTitle">
        <p color="red">The system will automatically timeout and inform you when the time for this search task is up.</p>
        <ul>
            {% if msg_id == '0' %}
            <li>Please search for <b>2 minutes</b> for this practice task.</li>
            {% else %}
            <li>Please search for <b>10 minutes</b> for this task.</li>
            {% endif %}
        </ul>


        <p>Continue searching until the system times out.</p>


        <p> When you are ready click the "next" button to continue to the next task: </p>
    </div>

    <div class="surveySubmitButton">
        <a href="{% url 'next' %}">
            <button class="button" type="next"> Next</button>
        </a>

    </div>



{% endblock %}


{% block exp_footer_block %}
    Participant: {{ participant }}  - Condition: {{ condition }} - Task: {{ task }}
{% endblock %}
